* {
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #fafafa;
	background: linear-gradient(135deg, #ee87a4 0%, #9e96f5 100%);
	overflow: auto;
}

.container {
	width: 840px;
	margin: 40px auto;
	padding-bottom: 16px;
	background: #fafafa;
	box-shadow: 1px 1px 5px rgba(0,0,0,.3);
	border-radius: 2px;
}

.header {
	width: 100%;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 24px;
}

.content {
	padding: 0 16px;
}